body{
    background-color: #000000;
    color: white;
    display: flex;
}

main{
    width: 50%;
    margin: auto;
}

.display{
    background-color: rgb(221, 215, 215);
    height: 80px;
}

.display .top{
    width: 95%;
    height: 50%;
    text-align: right;
    font-size: 2rem;
    font-weight: bold;
    color: black;
    padding: 0 10px;
}

.display input{
    border: none;
    width: 95%;
    margin: 0;
    padding: 0;
    height: 47%;
    text-align: right;
    font-size: 45px;
    font-weight: bold;
    padding: 0 10px;
}

.buttons{
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.left-btns{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5px
}

.inpts{
    text-align: center;
    border: 1px solid rgb(15, 147, 207);
    display: flex;
}

.inpts:hover{
    border: 1px solid rgba(255, 255, 255, 0.342);
    background-color: rgba(236, 8, 8, 0.829);
}

.inpts p{
    font-size: 2.2rem;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: auto;
}
